<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">

    <title>Product Catalog</title>
    <link href="~/media/css/Bootstrap.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body id='@ViewData["page"]'>

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">Product Catalog Demo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="index"><a href="~/ProductCatalog/Index">Product list</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Current user: <span class="UserGreeting">Admin</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href='/api/Company/login?id=0&page=@ViewData["page"]' class="user-role">Admin</a></li>
                            <li><a href='/api/Company/login?id=1&page=@ViewData["page"]' class="user-role">A Datum Corporation</a></li>
                            <li><a href='/api/Company/login?id=2&page=@ViewData["page"]' class="user-role">Contoso, Ltd.</a></li>
                            <li><a href='/api/Company/login?id=3&page=@ViewData["page"]' class="user-role">Consolidated Messenger</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <!-- End Static navbar -->

    @RenderBody()

    <script src="~/media/js/lib/jquery.js"></script>
    <script>$("li." + $("body")[0].id).addClass("active");</script>
    <script src="~/media/js/lib/Bootstrap.js"></script>
    <script src="~/media/js/rls.js"></script>
   
    @RenderSection("scripts", required: false)

</body>
</html>
