<div id="chart1">
    <svg></svg>
</div>


@section styles {
<link href="~/media/js/lib/nvd3/nv.d3.min.css" rel="stylesheet" />
<style>
    text {
        font: 12px sans-serif;
    }

    svg {
        display: block;
    }

    html, body, #chart1, svg {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
</style>

}

@section scripts {
<script src="~/media/js/lib/nvd3/d3.min.js" charset="utf-8"></script>
<script src="~/media/js/lib/nvd3/nv.d3.min.js"></script>
<script>
            $.ajax('/data/nvd3-multibar.js', { "dataType": "json" })
            //$.ajax('/api/Product/Report2', { "dataType": "json" })
             .done(function (exampleData) {

                 nv.addGraph(function () {
                     var chart = nv.models.multiBarChart()
                        .height(400)
                       .reduceXTicks(true)   //If 'false', every single x-axis tick label will be rendered.
                       .rotateLabels(0)      //Angle to rotate x-axis labels.
                       .showControls(false)   //Allow user to switch between 'Grouped' and 'Stacked' mode.
                       .groupSpacing(0.1)    //Distance between each group of bars.
                     ;

                     chart.yAxis
                         .tickFormat(d3.format(',.1f'));

                     d3.select('#chart1 svg')
                         .datum(exampleData)
                         .call(chart);

                     nv.utils.windowResize(chart.update);

                     return chart;
                 });
             });
</script>
}